@import '../abstracts/base';

.button-container {
  position: static;

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $black;
    color: $white;
    padding: rem-calc(10) rem-calc(24);
    min-width: rem-calc(250);
    top: 0;
    margin-top: rem-calc(22);
    position: static;
    width: 50%;

    border-radius: rem-calc(2);
  }
}

button {
  position: relative;
  width: 100%;
  height: rem-calc(46);
  background: $black;
  color: $white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: rem-calc(16);
  border-radius: rem-calc(3);
  font-family: 'Oxygen', sans-serif;

  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem-calc(10);
  }

  svg {
    width: rem-calc(18);
    height: rem-calc(18);
    position: relative;
    margin: 0 rem-calc(8);
    top: rem-calc(1);
  }
}

button:enabled:hover,
button.spinning {
  background-color: $black;
}

button:disabled {
  cursor: default;
}

.button.disabled, .button.disabled:focus, .button.disabled:hover, .button[disabled], .button[disabled]:focus, .button[disabled]:hover {
  background: $black;
}

.button-tertiary {
  a {

  }
}