@import '../abstracts/base';

$loadingSpinnerDiameter: 27px;
$loadingSpinnerStrokeWidth: 2px;
$loadingSpinnerStrokeColor: #FFF;
$loadingSpinnerOpacity: 1;
$loadingSpinnerStrokeStyle: solid;
$loadingSpinnerSpeed: .7s;

.loadingSpinner {
  border: $loadingSpinnerStrokeWidth $loadingSpinnerStrokeStyle $loadingSpinnerStrokeColor;
  border-top-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  width: $loadingSpinnerDiameter - ($loadingSpinnerStrokeWidth * 2);
  height: $loadingSpinnerDiameter - ($loadingSpinnerStrokeWidth * 2);
  opacity: $loadingSpinnerOpacity;
  border-radius: 50%;
  animation: loadingSpinner $loadingSpinnerSpeed infinite linear;
  -webkit-animation: loadingSpinner $loadingSpinnerSpeed infinite linear;
  z-index: 1;
}

button .loadingSpinner {
  margin-top: -$loadingSpinnerDiameter / 2.2;
  margin-left: -$loadingSpinnerDiameter / 2;
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes loadingSpinner {
  from { transform: rotate(0deg)   }
  to   { transform: rotate(360deg) }
}

@-webkit-keyframes loadingSpinner {
  from { -webkit-transform: rotate(0deg)   }
  to   { -webkit-transform: rotate(360deg) }
}